
<div class="bg-primary panel-body panel-success">
    <h1 class="text-center">Order has been successfully created</h1>
    <h3 class="text-center">Our manager will contact you</h3>
</div>
<a class="btn btn-success" asp-action="Index">Return to Home page</a>