<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" asp-href-include="lib/bootstrap/dist/css/*.min.css" />
</head>
<body>
    <div class="panel-body">
        @if (User?.Identity?.IsAuthenticated ?? false)
        {
            <div class="bg-primary">
                <div>
                    <form asp-controller="Account" asp-action="LogOff" method="post">
                        <button type="submit" class="btn btn-danger col-md-1 col-md-push-11">Log out</button>
                    </form>
                </div>
                <div class="col-md-1 col-md-push-9">
                    <label class="text-right" style="width: 10rem;">@User.Identity.Name</label>
                </div>
            </div>
        }
        else
        {
            <div class="bg-primary">
                <a asp-controller="Account" asp-action="Register" class="btn btn-success col-md-1 col-md-push-10">Register</a>
                <a asp-controller="Account" asp-action="Login" class="btn btn-success col-md-1 col-md-push-10">Log in</a>
            </div>
        }

        @RenderBody()
    </div>
</body>
</html>
